.align-middle {
    margin: auto;
}

.card-body {
    color: white;
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: #000000;
}

.cars-img {
    max-width: 600px;
    max-height: 200px;
    object-fit: contain;
    display: block;
    transition: all 0.3s;
    transform: scale(1);

    &:hover {
        transform: scale(1.2);
    }
}

.carousel-car-img {
    display: block;
    width: "100vw";
    height: "100vh";
    object-fit: cover;
}

.ulaa {
    text-align: right;
}
