.navbar-custom {
    position: fixed;
    top: 0;
    width: 100%;
}

.color-custom {
    background-color: black;
}

.text-carros {
    font-weight: bold;
    color: rgb(255, 255, 255);
    vertical-align: text-top;
}

.icons {
    color: white;
}

.text-al {
    text-align: right;
}
